@import url("https://fonts.googleapis.com/css2?family=Roboto&family=Space+Grotesk&display=swap");
/* Universal Styles*/
* {
  font-family: "Roboto", "Space Grotesk", sans-serif;
  color: rgb(9, 29, 9);
  margin: auto;
  padding: auto;
}
/* Header */
header {
  background: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 3rem;
  height: 12rem;
}
.banner h1 {
  color: rgb(255, 255, 255);
  font-weight: 700;
  font-size: 64px;
  line-height: 1.2;
  text-align: center;
  margin: auto;
}
/* Article */
p {
  margin: 0rem 3rem;
  font-weight: 500;
  line-height: 1.5;
  font-weight: 400;
}
h2 {
  color: rgb(154, 160, 154);
  font-weight: 700;
  font-size: 3.2rem;
  text-align: left;
}

.wrapper {
  display: inline-block;
  padding: 0.5rem;
  margin: 1.8rem 2.5rem;
}
.wrapper p {
  margin: 0.9rem 0.3rem;
}

.container {
  border: 0.2rem solid rgb(154, 160, 154);
}
.color {
  display: inline-flex;
  padding: 2rem 2rem;
  width: auto;
  line-height: 2rem;
}

.lime {
  border: 1px solid rgb(164, 196, 0);
  background-color: rgb(164, 196, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.green {
  border: 1px solid rgb(96, 169, 23);
  background-color: rgb(96, 169, 23);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.emerald {
  border: 1px solid rgb(0, 138, 0);
  background-color: rgb(0, 138, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.teal {
  border: 1px solid rgb(0, 171, 169);
  background-color: rgb(0, 171, 169);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.cyan {
  border: 1px solid rgb(27, 161, 226);
  background-color: rgb(27, 161, 226);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.cobalt {
  border: 1px solid rgb(0, 80, 239);
  background-color: rgb(0, 80, 239);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.indigo {
  border: 1px solid rgb(106, 0, 255);
  background-color: rgb(106, 0, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.viole {
  border: 1px solid rgb(170, 0, 255);
  background-color: rgb(170, 0, 255);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.pink {
  border: 1px solid rgb(244, 114, 208);
  background-color: rgb(244, 114, 208);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.magenta {
  border: 1px solid rgb(216, 0, 115);
  background-color: rgb(216, 0, 115);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.crimson {
  border: 1px solid rgb(162, 0, 37);
  background-color: rgb(162, 0, 37);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.red {
  border: 1px solid rgb(229, 20, 0);
  background-color: rgb(229, 20, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.orange {
  border: 1px solid rgb(250, 104, 0);
  background-color: rgb(250, 104, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.amber {
  border: 1px solid rgb(240, 162, 10);
  background-color: rgb(240, 162, 10);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.yellow {
  border: 1px solid rgb(227, 200, 0);
  background-color: rgb(227, 200, 0);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.brown {
  border: 1px solid rgb(130, 90, 44);
  background-color: rgb(130, 90, 44);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.olive {
  border: 1px solid rgb(109, 135, 100);
  background-color: rgb(109, 135, 100);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.steel {
  border: 1px solid rgb(100, 118, 135);
  background-color: rgb(100, 118, 135);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.mauve {
  border: 1px solid rgb(118, 96, 138);
  background-color: rgb(118, 96, 138);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}
.taupe {
  border: 1px solid rgb(135, 121, 78);
  background-color: rgb(135, 121, 78);
  color: rgb(255, 255, 255);
  font-weight: 500;
  height: 5rem;
  text-align: center;
  margin: 0.5rem;
}

/* Font Table*/
.t-head {
  text-align: left;
}
.font {
  background-color: rgb(231, 233, 235);
  border-bottom-color: rgb(221, 221, 221);
  border-bottom-style: solid;
  border-bottom-style: 1px;
  border-collapse: collapse;
  border-left-color: rgb(204, 204, 204);
  border-right-color: rgb(204, 204, 204);
  border-top-color: rgb(204, 204, 204);
  box-sizing: border-box;
  display: table-row;
  font-size: 15px;
  text-indent: 0px;
  text-align: left;
}
.note p {
  text-align: center;
}
/* Heading Style */
.heading1 {
  display: block;
  font-size: 42px;
  font-weight: 400;
  line-height: 63px;
  margin-block-end: 10px;
  margin-block-start: 10px;
  margin: 10px 10px 0px 0px;
}

.heading2 {
  display: block;
  font-size: 32px;
  font-weight: 400;
  line-height: 63px;
  margin-block-end: 10px;
  margin-block-start: 10px;
  margin: 10px 10px 0px 0px;
}

.heading3 {
  display: block;
  font-size: 24px;
  font-weight: 400;
  line-height: 63px;
  margin-block-end: 10px;
  margin-block-start: 10px;
  margin: 10px 10px 0px 0px;
}

.heading4 {
  display: block;
  font-size: 20px;
  font-weight: 400;
  line-height: 63px;
  margin-block-end: 10px;
  margin-block-start: 10px;
  margin: 10px 10px 0px 0px;
}

.heading5 {
  display: block;
  font-size: 18px;
  font-weight: 400;
  line-height: 63px;
  margin-block-end: 10px;
  margin-block-start: 10px;
  margin: 10px 10px 0px 0px;
}

.heading6 {
  display: block;
  font-size: 16px;
  font-weight: 400;
  line-height: 63px;
  margin-block-end: 10px;
  margin-block-start: 10px;
  margin: 10px 10px 0px 0px;
}

.code {
  background-color: rgb(240, 240, 244);
}

a {
  color: rgb(162, 0, 37);
}

a:hover {
  text-decoration: none;
}

/* Footer */
footer {
  background: url("https://images.unsplash.com/photo-1546484396-fb3fc6f95f98?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1170&q=80");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-top: 4rem;
  padding-top: 6rem;
  height: 6rem;
  color: rgb(255, 255, 255);
  font-weight: 400;
  font-size: 1em;
  text-align: center;
}
